*{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(223, 221, 221);
}

.TituloPrincipal{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(5, 5, 107);
}

.glossario > dd{
    text-shadow: 2px 5px 5px blue;
}

ol > li {
    padding-top: 5px;
}